{% extends "base.html" %}
{% load staticfiles %}
{% block script %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
<script type="text/javascript" src= "{% static 'js/add_party.js' %}"></script>

{% endblock script %}
{% block content %}
    <div class="container">
    <h1>{{ user.restaurant_name }}</h1>
    {% for table in tables %}
        <p class="table" id="Table{{ table.pk }}">Table {{ table.table_name }}: {{ table.seats }} seats</p>
        <div class="ajaxReservationForm" id="form{{ table.pk }}"></div>
        <div class="newPartyButton" id="table{{ table.pk }}" <a href="{% url 'make_reservation_at_table' table.pk %}"><button class="btn-primary">Make Reservation at Table {{ table.table_name }}</button></a>
        {% for party in parties %}
            {% if party.seated_table == table and party.end_time == None %}
                <p class="party">{{ party.party_name.capitalize }}, Reservation Time: {{ party.reservation_time }} - Predicted End Time: {{ party.predicted_end_time }} End Time: {{ party.end_time }}</p>
                <p class="party">males: {{ party.number_of_males }} females: {{ party.number_of_females }} children {{ party.number_of_children }} lunch: {{ party.lunch }} weekday: {{ party.monday_to_thursday }} {{ party.pk }}</p>
                <a href="{% url 'end_party' party.pk %}"><button class="btn-danger">End Party</button></a>
            {% endif %}
        {% endfor %}
    <br>
    <br>
    {% endfor %}

    </div>
{% endblock content %}