<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>To Do</h1>
<ol>
    <li>Use date/time to see if its a weekday and what time of day</li>
    <li>add party and table from profile page</li>
    <li>popout login page</li>
    <li>warn against reservations that conflict with estimated times</li>
    <li>find out why ajax new party is only coming up at the top instance</li>
    <li>make the tables look nice, drag and drop tables to represent layout of restaurant</li>

</ol>
</body>
</html>