{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div class="container">
    <h1>Login to RestauPro!</h1>
        <form method="post" action=".">
        {% csrf_token %}
        {{ form.as_p }}
        <button class= "btn btn-primary" type="submit" value="Log in">Log in</button>
    </form>
    <p style="float: left">Not a member? <a class= "btn btn-primary" href="{% url 'register' %}">Register!</a></p>
        <a class="btn btn-primary" href="{% url 'password_reset' %}">Forgot Password?</a>

    </div>
{% endblock %}